<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.cdt.ui.category.refactoring"
            id="ch.hsr.eclipse.cdt.toggleCommand"
            name="%refactoringToggleRefactoring.label">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="ch.hsr.eclipse.cdt.toggleCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="SHIFT+ALT+K">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="%CodingActionSet.description"
            id="org.eclipse.cdt.ui.CodingActionSet"
            label="%CodingActionSet.label"
            visible="false">
         <menu
               id="org.eclipse.jdt.ui.source.menu"
               label="%Source.menu.label"
               path="edit">
            <separator
                  name="codeGroup">
            </separator>
         </menu>
         <action
               class="ch.hsr.eclipse.cdt.ui.toggle.TogglingActionDelegate"
               definitionId="ch.hsr.eclipse.cdt.toggleCommand"
               id="ch.hsr.eclipse.cdt.action3"
               label="%refactoringToggleRefactoring.label"
               menubarPath="org.eclipse.jdt.ui.source.menu/codeGroup"
               style="push">
         </action>
      </actionSet>
   </extension>

</plugin>
